body {
  font-family: "Roboto", sans-serif;
}

#title {
  text-align: center;
}
#chart {
  text-align: center;
}

#scatterplot {
  border: 1px solid #ddd;
  overflow: visible;
}

.dot {
  stroke: #333;
  stroke-width: 1;
}

.dot.doping {
  fill: rgb(255, 127, 14);
}
.dot.no-doping {
  fill: rgb(31, 119, 180);
}

.dot:hover {
  cursor: pointer;
}

#tooltip {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  font-size: 12px;
  pointer-events: none;
  opacity: 0;
}

#legend {
  text-align: left;
  padding: 10px;
  font-size: 14px;
}

.legend-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.legend-color {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  margin-left: 10px;
}
